In [1]:
import os
import json
import requests
import pandas as pd
from pathlib import Path
from pprint import pprint
# Import API Key
from config import api_key

In [2]:
url = 'https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson?'

limit = 'limit=all'
country = 'country=US&'
type = 'fuel_type=ELEC&'
api = 'api_key=' + api_key + '&'
state = 'state=MD,VA,DC&'

response = requests.get(url + api + type + country + state + limit).json()
data = json.dumps(response,
                         indent = 2,
                         separators =(". ", " = "),
                         sort_keys = True)
print(data)
features = response['features']

File: Data/opencharge_poi_data.json - successfully created

In [3]:
latitude = []
longitude = []
date_confirmed = []
city = []
id = []
station_name = []
zip = []
street_address = []
dc_fast = []
level1 = []
level2 = []
public = []
owner = []
state = []

POI Length: 59853

In [ ]:
x = 0
for item in features:
        latitude.append(features[x]['geometry']['coordinates'][1])
        longitude.append(features[x]['geometry']['coordinates'][0])
        date_confirmed.append(features[x]['properties']['date_last_confirmed'])
        city.append(features[x]['properties']['city'])
        id.append(features[x]['properties']['id'])
        station_name.append(features[x]['properties']['station_name'])
        zip.append(features[x]['properties']['zip'])
        street_address.append(features[x]['properties']['street_address'])
        dc_fast.append(features[x]['properties']['ev_dc_fast_num'])
        level1.append(features[x]['properties']["ev_level1_evse_num"])
        level2.append(features[x]['properties']["ev_level2_evse_num"])
        public.append(features[x]['properties']["access_code"])
        owner.append(features[x]['properties']['ev_network'])
        state.append(features[x]['properties']['state'])
        x = x + 1

In [4]:
df_data = {"ID":id,"Station Name":station_name,"Access":public,"Owner":owner,"Last_Used":date_confirmed,"DC_Fast":dc_fast,"Level1_Charging":level1, \
"Level2_Charging":level2, "Address":street_address,"City":city,"State":state,"Zipcode":zip}

,IsRecentlyVerified,DateLastVerified,ID,UUID,DataProviderID,OperatorID,UsageTypeID,UsageCost,AddressInfo,Connections,...,StatusTypeID,DateLastStatusUpdate,DataQualityLevel,DateCreated,SubmissionStatusTypeID,DataProvidersReference,DatePlanned,OperatorsReference,MetadataValues,DateLastConfirmed
0,True,2024-10-07T17:20:00Z,304959,CA4DD728-806C-476F-9DEA-482CABAF83A9,1,3343.0,1.0,$0.35/kWh,"{'ID': 305348, 'Title': 'AutoNation Ford Corpu...","[{'ID': 577200, 'ConnectionTypeID': 32, 'Statu...",...,50.0,2024-10-07T17:20:00Z,1.0,2024-10-07T16:28:00Z,200,NaN,NaN,NaN,NaN,NaN
1,True,2024-10-07T17:20:00Z,304955,3C10CBCB-8C82-47AE-A0D3-8008632BC5AB,1,5.0,4.0,NaN,"{'ID': 305344, 'Title': '5140 Business Center ...","[{'ID': 577191, 'ConnectionTypeID': 1, 'Status...",...,50.0,2024-10-07T17:20:00Z,1.0,2024-10-06T21:49:00Z,200,NaN,NaN,NaN,NaN,NaN
2,True,2024-10-07T17:23:00Z,304949,4FB87A99-81A9-4B60-84BB-B7C93EE25DFE,1,3534.0,4.0,NaN,"{'ID': 305338, 'Title': 'Rove - Santa Ana', 'A...","[{'ID': 577183, 'ConnectionTypeID': 27, 'Statu...",...,50.0,2024-10-07T17:23:00Z,1.0,2024-10-06T01:21:00Z,200,NaN,NaN,NaN,NaN,NaN
3,True,2024-10-07T17:24:00Z,304947,CF6F3A6A-4858-4A94-9022-7826A8C84D44,1,5.0,4.0,NaN,"{'ID': 305336, 'Title': 'Arther F Turner Commu...","[{'ID': 577178, 'ConnectionTypeID': 1, 'Status...",...,50.0,2024-10-07T17:24:00Z,1.0,2024-10-05T20:34:00Z,200,NaN,NaN,NaN,NaN,NaN
4,True,2024-10-07T17:23:00Z,304934,228DE4C5-C712-47E0-8E2E-1314469A6CE1,1,3372.0,4.0,NaN,"{'ID': 305323, 'Title': 'Bowlero Manteca', 'Ad...","[{'ID': 577154, 'ConnectionTypeID': 32, 'Statu...",...,50.0,2024-10-07T17:23:00Z,1.0,2024-10-05T00:53:00Z,200,NaN,NaN,NaN,NaN,NaN

In [7]:
df = pd.DataFrame(df_data)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59853 entries, 0 to 59852
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IsRecentlyVerified      59853 non-null  bool
 1   DateLastVerified        59853 non-null  object
 2   ID                      59853 non-null  int64
 3   UUID                    59853 non-null  object
 4   DataProviderID          59853 non-null  int64
 5   OperatorID              51060 non-null  float64
 6   UsageTypeID             58221 non-null  float64
 7   UsageCost               3707 non-null   object
 8   AddressInfo             59853 non-null  object
 9   Connections             59853 non-null  object
 10  NumberOfPoints          9305 non-null   float64
 11  GeneralComments         5360 non-null   object
 12  StatusTypeID            54538 non-null  float64
 13  DateLastStatusUpdate    59853 non-null  object
 14  DataQualityLevel        59532 non-null  float64
 15  DateCreated             59853 non-null  object
 16  SubmissionStatusTypeID  59853 non-null  int64
 17  DataProvidersReference  48749 non-null  float64
 18  DatePlanned             2782 non-null   object
 19  OperatorsReference      4611 non-null   object
 20  MetadataValues          6 non-null      object
 21  DateLastConfirmed       427 non-null    object
dtypes: bool(1), float64(6), int64(3), object(12)
memory usage: 9.6+ MB

In [19]:
len(df)

[{'ID': 577200,
  'ConnectionTypeID': 32,
  'StatusTypeID': 50,
  'LevelID': 3,
  'PowerKW': 120,
  'CurrentTypeID': 30,
  'Quantity': 2}]