In [1]:
#import commands
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
#import csv files
Data_csv = Path("Merged Data/data.csv")
DMV_Fuel_Data = Path("Merged Data/DMV_Fuel_Data.csv")

In [3]:
# Read Data File and store into Pandas DataFrames
Dawson_data = pd.read_csv(Data_csv)
Daniel_data = pd.read_csv(DMV_Fuel_Data)

In [4]:
# print Dawson Data
Dawson_data.head()

,ID,Station Name,Access,Owner,Last_Used,Open_Date,DC_Fast,Level1_Charging,Level2_Charging,Address,City,State,Zipcode,Latitude,Longitude,Pricing,Connection_Type
0,36363,ARUNDEL MILLS ELEMENT HOTELS,public,ChargePoint Network,2024-10-10,2010-07-15,NaN,1.0,NaN,7522 Teague Rd,Hanover,MD,21076,39.155907,-76.717216,NaN,NEMA515
1,39514,Hotel Floyd,public,Non-Networked,2022-11-10,2011-06-01,NaN,NaN,1.0,120 Wilson St,Floyd,VA,24091,36.910575,-80.317360,Free for guests; $10 for non-guests,J1772
2,39763,Passport Nissan - Alexandria,public,Non-Networked,2024-02-12,2011-03-15,1.0,NaN,3.0,150 S Pickett St,Alexandria,VA,22304,38.809670,-77.122190,Free,CHADEMO
3,39764,Priority Nissan - Chantilly,public,Non-Networked,2024-02-12,2011-03-15,1.0,NaN,2.0,14840 Stonecroft Center Ct,Chantilly,VA,20151,38.899800,-77.460330,Free,CHADEMO
4,39765,Colonial Nissan,public,Non-Networked,2024-02-12,2011-03-15,1.0,NaN,2.0,200 Myers Dr,Charlottesville,VA,22901,38.084926,-78.473415,Free,CHADEMO

In [5]:
# Select fields
Fields = Dawson_data[['ID','Station Name','Access','Owner','Last_Used', 'Open_Date','Address', 'City','State','Zipcode','Latitude','Longitude','Pricing', 'Connection_Type' ]]
Fields.head()

,ID,Station Name,Access,Owner,Last_Used,Open_Date,Address,City,State,Zipcode,Latitude,Longitude,Pricing,Connection_Type
0,36363,ARUNDEL MILLS ELEMENT HOTELS,public,ChargePoint Network,2024-10-10,2010-07-15,7522 Teague Rd,Hanover,MD,21076,39.155907,-76.717216,NaN,NEMA515
1,39514,Hotel Floyd,public,Non-Networked,2022-11-10,2011-06-01,120 Wilson St,Floyd,VA,24091,36.910575,-80.317360,Free for guests; $10 for non-guests,J1772
2,39763,Passport Nissan - Alexandria,public,Non-Networked,2024-02-12,2011-03-15,150 S Pickett St,Alexandria,VA,22304,38.809670,-77.122190,Free,CHADEMO
3,39764,Priority Nissan - Chantilly,public,Non-Networked,2024-02-12,2011-03-15,14840 Stonecroft Center Ct,Chantilly,VA,20151,38.899800,-77.460330,Free,CHADEMO
4,39765,Colonial Nissan,public,Non-Networked,2024-02-12,2011-03-15,200 Myers Dr,Charlottesville,VA,22901,38.084926,-78.473415,Free,CHADEMO

In [6]:
# Daniels Data
Daniel_data.head()

,Fuel Type Code,Station Name,Street Address,Date Last Confirmed,Groups With Access Code,State,City,Open Date,ZIP,EV Connector Types,EV Pricing,Latitude,Longitude,Access Code,ID
0,ELEC,One Parking,555 12th St NW,2023-08-10,Public,DC,Washington,2012-03-01,20004,J1772,Free,38.896703,-77.027621,public,1
1,ELEC,Maritime Plaza,1201 M St SE,2023-08-10,Private,DC,Washington,2012-12-01,20003,J1772,$0.20 per kWh,38.875930,-76.989468,private,3
2,ELEC,Chevy Chase Pavilion,5355 Wisconsin Ave NW,2023-08-10,Public,DC,Washington,2013-04-30,20015,J1772,Free,38.960472,-77.084739,public,7
3,ELEC,JBG - Fort Totten Square,300 Riggs Rd NE,2024-10-08,Public,DC,Washington,2016-01-16,20011,J1772,Free,38.958255,-77.002273,public,18
4,ELEC,Washington Plaza Hotel - Tesla Destination,10 Thomas Cir NW,2022-10-06,Public,DC,Washington,2017-12-07,20005,J1772 TESLA,Free,38.906456,-77.031163,public,28

In [7]:
# fields
Fields_2 = Daniel_data[['ID', 'Fuel Type Code','Station Name', 'Street Address', 'State', 'City', 'Open Date', 'Date Last Confirmed', 'ZIP', 'EV Connector Types', 'EV Pricing', 'Latitude', 'Longitude','Access Code']]
Fields_2.head()

,ID,Fuel Type Code,Station Name,Street Address,State,City,Open Date,Date Last Confirmed,ZIP,EV Connector Types,EV Pricing,Latitude,Longitude,Access Code
0,1,ELEC,One Parking,555 12th St NW,DC,Washington,2012-03-01,2023-08-10,20004,J1772,Free,38.896703,-77.027621,public
1,3,ELEC,Maritime Plaza,1201 M St SE,DC,Washington,2012-12-01,2023-08-10,20003,J1772,$0.20 per kWh,38.875930,-76.989468,private
2,7,ELEC,Chevy Chase Pavilion,5355 Wisconsin Ave NW,DC,Washington,2013-04-30,2023-08-10,20015,J1772,Free,38.960472,-77.084739,public
3,18,ELEC,JBG - Fort Totten Square,300 Riggs Rd NE,DC,Washington,2016-01-16,2024-10-08,20011,J1772,Free,38.958255,-77.002273,public
4,28,ELEC,Washington Plaza Hotel - Tesla Destination,10 Thomas Cir NW,DC,Washington,2017-12-07,2022-10-06,20005,J1772 TESLA,Free,38.906456,-77.031163,public

In [11]:
# Rename columns
Fields_2.rename(columns={
    'Street Address': 'Address',
    'Open Date': 'Open_Date',
    'Date Last Confirmed': 'Last_Used',
    'ZIP': 'Zipcode',
    'EV Connector Types': 'Connection_Type',
    'EV Pricing': 'Pricing',  
    'Access Code': 'Access'
}, inplace=True)
Fields_2.head()

C:\Users\Daniel\AppData\Local\Temp\ipykernel_23632\3842248167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fields_2.rename(columns={

,ID,Fuel Type Code,Station Name,Address,State,City,Open_Date,Last_Used,Zipcode,Connection_Type,Pricing,Latitude,Longitude,Access
0,1,ELEC,One Parking,555 12th St NW,DC,Washington,2012-03-01,2023-08-10,20004,J1772,Free,38.896703,-77.027621,public
1,3,ELEC,Maritime Plaza,1201 M St SE,DC,Washington,2012-12-01,2023-08-10,20003,J1772,$0.20 per kWh,38.875930,-76.989468,private
2,7,ELEC,Chevy Chase Pavilion,5355 Wisconsin Ave NW,DC,Washington,2013-04-30,2023-08-10,20015,J1772,Free,38.960472,-77.084739,public
3,18,ELEC,JBG - Fort Totten Square,300 Riggs Rd NE,DC,Washington,2016-01-16,2024-10-08,20011,J1772,Free,38.958255,-77.002273,public
4,28,ELEC,Washington Plaza Hotel - Tesla Destination,10 Thomas Cir NW,DC,Washington,2017-12-07,2022-10-06,20005,J1772 TESLA,Free,38.906456,-77.031163,public

In [22]:
Daniel_data.rename(columns={
    'Street Address': 'Address',
    'Open Date': 'Open_Date',
    'Date Last Confirmed': 'Last_Used',
    'ZIP': 'Zipcode',
    'EV Connector Types': 'Connection_Type',
    'EV Pricing': 'Pricing',  
    'Access Code': 'Access'
}, inplace=True)
Daniel_data.head()

,Fuel Type Code,Station Name,Address,Last_Used,State,City,Open_Date,Zipcode,Connection_Type,Pricing,Latitude,Longitude,Access,ID
0,ELEC,One Parking,555 12th St NW,2023-08-10,DC,Washington,2012-03-01,20004,J1772,Free,38.896703,-77.027621,public,1
1,ELEC,Maritime Plaza,1201 M St SE,2023-08-10,DC,Washington,2012-12-01,20003,J1772,$0.20 per kWh,38.875930,-76.989468,private,3
2,ELEC,Chevy Chase Pavilion,5355 Wisconsin Ave NW,2023-08-10,DC,Washington,2013-04-30,20015,J1772,Free,38.960472,-77.084739,public,7
3,ELEC,JBG - Fort Totten Square,300 Riggs Rd NE,2024-10-08,DC,Washington,2016-01-16,20011,J1772,Free,38.958255,-77.002273,public,18
4,ELEC,Washington Plaza Hotel - Tesla Destination,10 Thomas Cir NW,2022-10-06,DC,Washington,2017-12-07,20005,J1772 TESLA,Free,38.906456,-77.031163,public,28

In [33]:
#merge data frames
DMV_Merge = pd.merge(Dawson_data, Daniel_data, on='Access', how='inner')
DMV_Merge.head()

,ID_x,Station Name_x,Access,Owner,Last_Used_x,Open_Date_x,DC_Fast,Level1_Charging,Level2_Charging,Address_x,...,Last_Used_y,State_y,City_y,Open_Date_y,Zipcode_y,Connection_Type_y,Pricing_y,Latitude_y,Longitude_y,ID_y
0,36363,ARUNDEL MILLS ELEMENT HOTELS,public,ChargePoint Network,2024-10-10,2010-07-15,NaN,1.0,NaN,7522 Teague Rd,...,2023-08-10,DC,Washington,2012-03-01,20004,J1772,Free,38.896703,-77.027621,1
1,36363,ARUNDEL MILLS ELEMENT HOTELS,public,ChargePoint Network,2024-10-10,2010-07-15,NaN,1.0,NaN,7522 Teague Rd,...,2023-08-10,DC,Washington,2013-04-30,20015,J1772,Free,38.960472,-77.084739,7
2,36363,ARUNDEL MILLS ELEMENT HOTELS,public,ChargePoint Network,2024-10-10,2010-07-15,NaN,1.0,NaN,7522 Teague Rd,...,2024-10-08,DC,Washington,2016-01-16,20011,J1772,Free,38.958255,-77.002273,18
3,36363,ARUNDEL MILLS ELEMENT HOTELS,public,ChargePoint Network,2024-10-10,2010-07-15,NaN,1.0,NaN,7522 Teague Rd,...,2022-10-06,DC,Washington,2017-12-07,20005,J1772 TESLA,Free,38.906456,-77.031163,28
4,36363,ARUNDEL MILLS ELEMENT HOTELS,public,ChargePoint Network,2024-10-10,2010-07-15,NaN,1.0,NaN,7522 Teague Rd,...,2022-10-06,DC,Washington,2018-08-31,20001,J1772 TESLA,Free,38.904368,-77.026727,29

In [36]:
# create output path csv file
output_path = Path("DMV_Merge.csv")
DMV_Merge.to_csv(output_path, index=False)